<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<style>
.navbar-brand {
	color: black;
	bold: true;
}

.navbar-header1 {
	margin-left: 600px;
}

body {
	background-image: url("images/fruits_faded.jpg");
}

.message {
	color: black;
	margin-top: 4px;
	margin-left: 200px;
	font-size: 100%;
}

.data {
	margin-left: 10px;
	margin-top: 2px;
}
</style>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet">

</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/fruits"><b>FRUITS</b>
				</a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/herbs"><b>HERBS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/vegetables"><b>VEGETABLES<b></a>
			</div>


			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/hospitals"><b>HOSPITALS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/diseases"><b>DISEASES<b></a>
			</div>
			
			<div class="navbar-header1">
				<a class="navbar-brand" href="#/user/{{user.userId}}/shoppingCart"><b>SHOPPING CART</b></a>
			</div>

			<div class="navbar-header1">
				<a class="navbar-brand" href="#/user/{{user.userId}}/wishList"><b>WISH LIST</b></a>
			</div>
			
			<div class="navbar-header1">
				<a class="navbar-brand" href="#/user/{{user.userId}}/recommendationList"><b>RECOMMENDATION LIST</b></a>
			</div>

		</div>
	</div>


	<div class="message">{{message}}</div>

	<div>
		<h2>Fruit Details</h2>
		<br> <br>

		<div class="data">
			<p>
				<label>Fruit name: </label> {{fruit.productName}}
			</p>
			<p>
				<label>Benefits: </label> {{fruit.benefits}}
			</p>
			<p>
				<label>Distributor: </label> {{fruit.distributor}}
			</p>
			<p>
				<label>Price: </label> {{fruit.price}}
			</p>
			<p>
				<label>Stock: </label> {{fruit.stock}}
			</p>
			<p>
				<label>Diseases recommended for: </label> {{fruit.diseaseList}}
			</p>
			<p>
				<label>Additional information link: </label> {{fruit.readMoreLink}}
			</p>
		</div>
		
		<a class="btn btn-success" ng-click="AddInShoppingCart()">Add to shopping cart</a>
</body>
</html>