<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<style>
.navbar-brand {
	color: black;
	bold: true;
	font-size: 15px !important;
}

.navbar-header1 {
	margin-left: 400px;
}

body {
	background-image: url("images/fruits_faded.jpg");
}

.message {
	color: black;
	margin-left: 400px;
	margin-top: 4px;
	font-size: 200%;
}

.data {
	margin-left: 10px;
	margin-top: 2px;
}

.name {
	text-decoration: underline;
}

.noStock {
	color: red;
	font-size: 140%;
}
</style>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet">

</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/fruits"><b>FRUITS</b>
				</a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/herbs"><b>HERBS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/vegetables"><b>VEGETABLES<b></a>
			</div>


			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/hospitals"><b>HOSPITALS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/diseases"><b>DISEASES<b></a>
			</div>
			
			<div class="navbar-header1">
				<a class="navbar-brand" href="#/user/{{user.userId}}"><b>MY ACCOUNT<b></a>
			</div>
			
			<div class="navbar-header1">
				<a class="navbar-brand" href="#/user/{{user.userId}}/myDiseases"><b>MY DISEASES<b></a>
			</div>

			<div class="navbar-header1">
				<a class="navbar-brand" href="#/user/{{user.userId}}/shoppingCart"><b>SHOPPING
						CART</b></a>
			</div>

			<div class="navbar-header1">
				<a class="navbar-brand" href="#/user/{{user.userId}}/wishList"><b>WISH
						LIST</b></a>
			</div>

			<div class="navbar-header1">
				<a class="navbar-brand"
					href="#/user/{{user.userId}}/recommendationList"><b>RECOMMENDATION
						LIST</b></a>
			</div>

		</div>
	</div>


	<div class="message">{{message}}</div>

	<div>
		<h2 class="name">{{fruit.productName}}</h2>
		<br> <br>

		<div class="data">
			<p>
				<label>Benefits: </label> {{fruit.benefits}}
			</p>
			<p>
				<label>Distributor: </label> {{fruit.distributor}}
			</p>
			<p>
				<label>Price: </label> {{fruit.price}}
			</p>
			<p>
				<label>Stock: </label> {{fruit.stock}}
			</p>
			<p>
				<label>Diseases recommended for: </label> {{fruit.diseaseList}}
			</p>
			<p>
				<label>Additional information link: </label> <a href= {{fruit.readMoreLink}} > {{fruit.readMoreLink}} </a>
			</p>
		</div>

		<br>
		<p>
			Desired quantity: <input type="text" ng-model="quantity" required />
			<a class="btn btn-success" ng-click="AddInShoppingCart(fruit.stock)">Add
				to shopping cart</a>
		</p>
		
		<div>
		   	<a class="btn btn-success" ng-click="AddInWishList()">Add to wish list</a>
		</div>

		<div ng-if="fruit.stock == 0">
			<label class=noStock>{{fruit.productName}} Stock: 0.</label>
		</div>
</body>
</html>