<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<style>
.navbar-brand {
	color: black;
	bold: true;
}

body {
	background-image: url("images/fruits_faded.jpg");
}

.message {
	color: black;
	margin-top: 4px;
	margin-left: 200px;
	font-size: 100%;
}

</style>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet">

</head>
<body>


	<div class="navbar navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<a class="navbar-brand" href="#/fruits/admin"><b>FRUITS</b> </a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/herbs/admin"><b>HERBS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/vegetables/admin"><b>VEGETABLES<b></a>
			</div>


			<div class="navbar-header">
				<a class="navbar-brand" href="#/hospitals/admin"><b>HOSPITALS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/diseases/admin"><b>DISEASES<b></a>
			</div>

		</div>
	</div>


	<div class="message">{{message}}</div>

	<br>
	<br>
	<br>
	<form>
		<p>
			Fruit name: <input type="text" ng-model="fruit.productName" required />
		</p>
		<p>
			Benefits: <input type="text" ng-model="fruit.benefits" required />
		</p>
		<p>
			Distributor: <input type="text" ng-model="fruit.distributor" required />
		</p>
		<p>
			Price: <input type="text" ng-model="fruit.price" required />
		</p>
		<p>
			Stock: <input type="text" ng-model="fruit.stock" required />
		</p>
		<p>
			Diseases recommended for: <input type="text" ng-model="fruit.diseaseList" required />
		</p>
		<p>
			Additional information link: <input type="text" ng-model="fruit.readMoreLink" required />
		</p>

	</form>
    
    <br>
	<div class="container">     
        <a class="btn btn-success"  ng-click="UpdateData()" >Update Fruit</a>
	</div>	
	<br>
	<div class="container">
		<p>{{feedbackMessage}}</p>
	</div>



</body>
</html>