<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<style>
.navbar-brand {
	color: black;
	bold: true;
}

body {
	background-image: url("images/hospitals_faded.jpg");
}

.message {
	color: black;
	margin-top: 4px;
	margin-left: 200px;
	font-size: 100%;
}
</style>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet">

</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<a class="navbar-brand" href="#/fruits/admin"><b>FRUITS</b> </a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/herbs/admin"><b>HERBS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/vegetables/admin"><b>VEGETABLES<b></a>
			</div>


			<div class="navbar-header">
				<a class="navbar-brand" href="#/hospitals/admin"><b>HOSPITALS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/diseases/admin"><b>DISEASES<b></a>
			</div>

		</div>
	</div>


	<div class="message">{{message}}</div>

	<br>
	<br>
	<br>
	<form>
		<p>
			Hospital name: <input type="text" ng-model="hospital.hospitalName" required />
		</p>
		<p>
			Address: <input type="text" ng-model="hospital.address" required />
		</p>
		<p>
			Website : <input type="text" ng-model="hospital.website" required />
		</p>
		<p>
			Phone number: <input type="text" ng-model="hospital.phoneNumber" required />
		</p>
	</form>

	<br>
	<div class="container">
		<a class="btn btn-primary" ng-click="UpdateData()">Update Hospital</a>
	</div>
	<br>

	<div class="container">
		<p>{{feedbackMessage}}</p>
	</div>



</body>
</html>