<!DOCTYPE html>
<html>

<head>

<style>
body {
        background-image: url("images/health.jpg");
} 

.title {
       color : black;
       margin-left : 220px;
       margin-top : 110px;
       font-size : 500%;
}

.message{
       color: black;
       margin-left : 360px;
       font-size : 200%;
}

.login{
        margin-left : 425px;
        background-color: transparent;
}

.buttonLogIn{
        margin-left : 530px;
}

.createAccount{
         margin-left : 425px;
}


</style>

</head>

<body>
	<div class ="title" >THE HEALTH PORTAL</div>
	<div class = "message">{{message}}</div>
	<br>
	<form class= "login">
    	<p>Username: <input type="text" ng-model="username" /></p>
    	<br> 
    	<p>Password: <input type="password" ng-model="password" /></p>
    </form>
	<div id="logIn" class="buttonLogIn">
		 <a id="loginBtn" class='btn btn-success btn'  ng-click='CheckPassword(username)' ng-href = '{{redirectLink}}'>Login</a>
	</div>
	<br>
	<br>
	<div class="createAccount">
	 <label>Don't you have an account?    </label>
	 <a class='btn btn-success btn' ng-href = '#/user/form'>Create Account</a>
	</div>
	
	
</body>

</html>