<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<style>
.navbar-brand {
	color: black;
	bold: true;
	font-size: 15px !important;
}

.navbar-header1 {
	margin-left: 400px;
}

.greetings {
	color: black;
	margin-top: 70px;
	margin-left: 200px;
	font-size: 130%;
}

.userInfo {
	color: black;
	margin-top: 40px;
	margin-left: 200px;
}

.buttons {
	margin-left: 200px;
}

.buttonBack {
	margin-left: 200px;
}

.message {
	margin-left: 200px;
}

body {
	background-image: url("images/health_faded.jpg");
}
</style>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>


<body>
	<div class="navbar navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/fruits"><b>FRUITS</b>
				</a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/herbs"><b>HERBS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/vegetables"><b>VEGETABLES<b></a>
			</div>


			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/hospitals"><b>HOSPITALS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/user/{{user.userId}}/diseases"><b>DISEASES<b></a>
			</div>
			
			<div class="navbar-header1">
				<a class="navbar-brand" href="#/user/{{user.userId}}"><b>MY ACCOUNT<b></a>
			</div>

			<div class="navbar-header1">
				<a class="navbar-brand" href="#/user/{{user.userId}}/shoppingCart"><b>SHOPPING CART</b></a>
			</div>

			<div class="navbar-header1">
				<a class="navbar-brand" href="#/user/{{user.userId}}/wishList"><b>WISH LIST</b></a>
			</div>
			
			<div class="navbar-header1">
				<a class="navbar-brand" href="#/user/{{user.userId}}/recommendationList"><b>RECOMMENDATION LIST</b></a>
			</div>

		</div>
	</div>

	<div class="greetings">Hello user {{user.name}}!</div>

	<form class="userInfo">
		<p>
			Name: <input type="text" ng-model="user.name" required />
		</p>
		<p>
			Username: <input type="text" ng-model="user.username" required />
		</p>
		<p>
			Address: <input type="text" ng-model="user.address" required />
		</p>
		<p>
			Age: <input type="text" ng-model="user.age" required />
		</p>
		<p>
			Gender: <input type="text" ng-model="user.gender" required />
		</p>
		<p>
			Password: <input type="password" ng-model="user.password" required />
		</p>

	</form>

	<br>
	<div class="buttons">
		<a class="btn btn-success" ng-click="UpdateData()">Update Account
			Information</a> <a class="btn btn-success"
			href="http://localhost:8086/health-projectJS/#/"
			ng-click="DeleteData()">Delete account</a>
	</div>
	<br>

	<div class="message">
		<p>{{feedbackMessage}}</p>
	</div>

	<br>
	<br>
	<div class="buttonBack">
		<a class="btn btn-success"
			href="http://localhost:8086/health-projectJS/#/">BACK</a>
	</div>

</body>
</html>