<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<style>
.navbar-brand {
	color: black;
	bold: true;
	font-size: 15px !important;
}

body {
	background-image: url("images/vegetables_faded.jpg");
}

.message {
	color: black;
	margin-top: 4px;
	margin-left: 200px;
	font-size: 100%;
}

.data {
	margin-left: 10px;
	margin-top: 2px;
}
</style>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet">

</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<a class="navbar-brand" href="#/fruits/admin"><b>FRUITS</b> </a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/herbs/admin"><b>HERBS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/vegetables/admin"><b>VEGETABLES<b></a>
			</div>


			<div class="navbar-header">
				<a class="navbar-brand" href="#/hospitals/admin"><b>HOSPITALS<b></a>
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="#/diseases/admin"><b>DISEASES<b></a>
			</div>
			

		</div>
	</div>


	<div class="message">{{message}}</div>

	<div>
		<h2>Vegetable Details</h2>
		<br>
		<br>

		<div class="data">
			<p>
				<label>Vegetable name: </label> {{vegetable.productName}}
			</p>
			<p>
				<label>Benefits: </label> {{vegetable.benefits}}
			</p>
			<p>
				<label>Distributor: </label> {{vegetable.distributor}}
			</p>
			<p>
				<label>Price: </label> {{vegetable.price}}
			</p>
			<p>
				<label>Stock: </label> {{vegetable.stock}}
			</p>
			<p>
				<label>Diseases recommended for: </label> {{vegetable.diseaseList}}
			</p>
			<p>
				<label>Additional information link: </label> <a href= {{vegetable.readMoreLink}} > {{vegetable.readMoreLink}} </a>
			</p>
		</div>

		<div class="container">
			<a class="btn btn-success" href="#/vegetable/admin/update/{{vegetable.productId}}"> Modify vegetable information</a> 
			<a class="btn btn-success" href="#/vegetables/admin" ng-click="DeleteData()"> Delete Vegetable</a>
		</div>

	</div>


</body>
</html>